"*":
  "atom-material-ui":
    colors:
      abaseColor: "#55b4c0"
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
  core:
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "6bf4725f-f44c-4489-93cd-5e97fb33c0e7"
  "linter-ui-default": {}
  "one-vibrancy":
    effect: "ultra-dark"
  welcome:
    showOnStartup: false
